Thomas’s WGLC review

Archived-at: https://mailarchive.ietf.org/arch/msg/rats/zZIPbD5Erq3an-j9OrOPA-amgxM/

## Abstract

* [ ] "this document provides the methods and means to define additional
  Event Streams for other Conceptual Messages"
  * [ ] Which "methods and means" are provided?  I have read the whole
    document but I didn’t find them.
  * [ ] Like ReIM, this document seems to suffer from an "unlimited scope"
    problem. IMO, too much emphasis is placed on the idea that the
    interaction can be generalised to other CMs. This seems an even
    more radical assumption here because, unlike ReIM, this
    specification provides a real wire protocol rather than a set of
    interaction models.  As such, it should clearly explain how this
    idea is realised.

* [ ] Ignorant question: What does "providing the same protected
  capabilities as TPMs" mean concretely?  Would a DICE RoT be considered
  equivalent?

## §1

* [ ] s/Conceptional/Conceptual/ :-)

* [ ] "[RFC9683] and [RFC9684] define the operational prerequisites and a
  YANG Model for the acquisition of Evidence and other Conceptional
  Messages [...]"
  * [ ] Skimming RFC968[34], there is no mention of "other conceptual
    messages"; the scope seems to be quite rigidly confined to
    attestation evidence.

* [ ] In general, whenever citing ReIM, 9334, etc. increase precision: use
  "Section X of Y" whenever possible.

* [ ] "This memo specifies a YANG augment"
  * [ ] "augment" is the concrete YANG statement... in this context
    "augmentation" may be more appropriate.

* [ ] "or its [the nonce’s] freshness characteristics."
  * [ ] Unclear what "freshness characteristics" is supposed to mean.
    Please could you clarify?

* [ ] "Two complementary methods [...]"
  * [ ] Is "complementary" the right word? Are they supposed to be used
    together?  If not, use "alternative methods" instead?

* [ ] "In consequence, in some usage scenarios the timing considerations for
  freshness [RFC9334] might have to be updated in some regular interval.
  Analogously, there are can be additional methods that are not describe
  by but nevertheless supported by this document."
  * [ ] The grammar seems a be buggy.  It's unclear to me what this
    paragraph is supposed to mean.

## §3.1

Similar to reading a QFT textbook, I approached this section with my
heart filled with expectation of enlightment, but I only found more
confusion ;-)

* [ ] The sequence diagram needs some attention: a diagram should be
self-explanatory, but parameter names appear and disappear from one
message to the next.  This lack of correlation makes it impossible to
follow without referring to the subsequent prose.
It's not a fatal flaw, but it's still slightly annoying. ;-)

* [ ] "a set of PCRs of interest which the wants to appraise"
  * add "[...] the RP/Verifier wants [...]"

* [ ] "a handle (see Section 6. in
  [I-D.ietf-rats-reference-interaction-models], which is either the
  initially received nonce or a more recently received Epoch ID"
  * Not sure how "a more recently received Epoch ID" is conveyed?
  * Also, the use of parentheses is broken in this bullet point

* [ ] "is elaborated on in the follow section Section 3.2."
  * remove "follow section"

* [ ] unclear what "acquire a new time synchronisation" means.  Please
  rephrase using simpler terms.

## §3.2.2

* [ ] s/countersr/counters/

## §4.3.1

* [ ] s/emmitted/emitted/

## §4.5

* [ ] The reference [KGV] doesn't seem to make sense

## §8

* [ ] The security considerations look very (too?) thin.  While it's great to
refer to the baseline specs, it seems odd that no further security
considerations are introduced by this augmentation.  For example, the
freshness-related aspects covered in §3.2 seem relevant to security, yet
they are not mentioned at all (not even by reference).  In particular,
correctly sizing the heartbeat would seem an interesting topic to
explore.
You may also wish to discuss the attack surface that is potentially
enabled in a pub-sub scope, e.g.:
  * [ ] DoS the node via oversubscription/resource exhaustion
  * [ ] Amplification attacks (AFAIU, the notifications include an
    ever-increasing event log (§3.1 says: "log entries [...] since
    boot")

## Final words

* [ ] One final consideration is that the document would benefit from a
back-to-back edit to improve its readability, including the prose and
diagrams.

> Protected Capability is defined in: https://trustedcomputinggroup.org/wp-content/uploads/TCG-Glossary-V1.1-Rev-1.0.pdf

Added via PR

split out "final words" and closing this one